<!-- Archivo: products.commented.html
     Versión comentada de products.html para explicar la lista de productos y el modal.
-->

<div class="container">
    <div class="row">
        <!-- *ngFor itera la colección infoTarjeta y crea una columna por cada elemento -->
        <div *ngFor="let i of infoTarjeta" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <!-- Comentario: 'i' representa cada tarjeta/producto -->
            <div id="card">
                <div class="card" >
                    <!-- [src] enlaza la propiedad img del objeto 'i' -> Angular pone la URL aquí -->
                    <img [src]="i.img" class="card-img-top" [alt]="i.alt" loading="lazy">
                    <div class="card-body">
                        <!-- Título y descripción del producto -->
                        <h5 class="card-title">{{i.titulo}}</h5>
                        <p class="card-text">{{i.descripcion}} - {{i.precio}}</p>
                        <!-- Botón que abre un modal con más información; el (click) llama a 'vermas(i)' -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verMasinfo" (click)="vermas(i)">Ver mas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal que muestra más detalles de la tarjeta seleccionada -->
<div class="modal fade" id="verMasinfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- tarjetaSeleccionada es una variable en el componente que contiene el producto seleccionado -->
        <img [src]="tarjetaSeleccionada?.img" [alt]="tarjetaSeleccionada?.alt" loading="lazy">
        {{tarjetaSeleccionada?.descripcion}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
  </div>
</div>
