#title {
    font-size: larger;
    display: flex;
    justify-content: center;
    font-size:70px;
    color: rgb(241, 208, 229);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* sombra al texto */
    margin-top: 50px;
    height: 120px;
}
.btn-action {
    background-color: rgb(165, 42, 42);
    color: rgb(255, 255, 255);
}

#card{
    display: flex;
    justify-content: center;
    gap: 50px;
}

#desc{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}