.container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#card{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    
}


img {
    height: 12rem;
    object-fit: cover;
}


@media (min-width: 751px) {
    .card {
        width: 100%;
        height: 100%

    }
}
.btn {
    background-color: black;
    color: white;
}
@media (max-width: 750px){
    .card {
        width: 100%;
    }
    .btn {
        margin-left: 2rem;
    }
}